body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container-1 {
    background: linear-gradient(90deg, #BF554B, #CC7E53);
}
.container-2 {
    background: linear-gradient(135deg, #BF554B, #CC7E53);
}
.container-3 {
    background: linear-gradient(180deg, #BF554B, #CC7E53);
}
.container-4 {
    background: linear-gradient(225deg, #BF554B, #CC7E53);
}
.content {
    display: flex;
    flex-direction: column;
    height: 765px;
}

.title {
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    padding: 40px 0;
}

.content-container {
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.side-list {
    width: 400px;
    height: 500px;
    background-color: white;
}

.main-content {
    display: flex;
    flex: 1;
    margin-left: 30px;
    background-color: white;
}
